
<form [formGroup]="raceForm" (submit)="handleSubmit()">

  <br />

  <mat-form-field>
    <input formControlName="name" name="name" matInput placeholder="Name">
    <mat-error *ngIf="raceForm.controls.name.hasError('required')">
      This field is required
    </mat-error>
  </mat-form-field>

  <br />

  <mat-form-field>
    <mat-select formControlName="poneyIds" placeholder="Ponies" multiple>
      <mat-option [value]="poney.id" *ngFor="let poney of ponies$ | async">
        {{ poney.name }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="raceForm.controls.poneyIds.hasError('required')">
      This field is required
    </mat-error>
  </mat-form-field>

  <br />

  <button [disabled]="raceForm.invalid" mat-raised-button color="primary">Create</button>

</form>